<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Display Tasks</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Logout</button>
    </form>
    
    <form th:action="@{/admin/home}" method="get">
	    <button class="btn btn-md btn-warning btn-block"
	    		type="Submit">Home</button>
	</form>
    
    <form th:action="@{/create-task}" method="get">
	    <button class="btn btn-md btn-warning btn-block"
	    		type="Submit">Create Task</button>
	</form>
	
	<form th:action="@{/delete-task}" method="get">
	    <button class="btn btn-md btn-warning btn-block"
	    		type="Submit">Delete Task</button>
	</form>
	
	<form th:action="@{/update-task}" method="get">
	    <button class="btn btn-md btn-warning btn-block"
	    		type="Submit">Update Task</button>
	</form>
<div class="container">

    

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <table border="1">
			    <tr>
			        <th>ID Number</th>
			        <th>Task Name</th>
			        <th>Start Date</th>
			        <th>End Date</th>
			        <th>Description</th>
			        <th>Email Address</th>
			        <th>Severity Level</th>
			        <th>Assigned User</th>
			    </tr>
			    <tr th:each = "task: ${tasks}">
			        <td th:text="${task.id}"></td>
			        <td th:text="${task.name}"></td>
			        <td th:text="${task.start}"></td>
			        <td th:text="${task.end}"></td>
			        <td th:text="${task.description}"></td>
			        <td th:text="${task.email}"></td>
			        <td th:text="${task.severity}"></td>
			        <td th:text="${task.user_task}"></td>
			    </tr>
			</table>
        </div>
    </div>

</div>
</body>
</html>